<%- include('partials/header') %>
        <section class="contact">
            <h2>Contact Us</h2>
            <form>
                <input type="text" placeholder="Name">
                <input type="email" placeholder="Email">
                <textarea placeholder="Message"></textarea>
                <button type="submit">Send</button>
            </form>
        </section>
<%- include('partials/footer') %>
